@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
  backdrop-filter: blur(100px);
}
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -22;
}
.scroll-w-0::-webkit-scrollbar {
  width: 0px;
}
